/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Electrolize');

body {
  background-color: lightgrey;
  font-family: "Orbitron", sans-serif;
  padding: 15px 15px;
  font-size: 18px;
  margin: 0;
  color: royalblue;
  vertical-align: top;
}

img{
  padding-right: 20000000px;
  padding-botton: 10px;
}

h1 {
  font-family: "Electrolize", serif;
  font-size: 32px;
  font-style: oblique
}

h2 {
  font-family: "Electrolize", serif;
  font-size: 24px;
}

p {
  font-family: "Electrolize", serif;
  font-size: 18px;
  color: black;
}

p1{
  font-family: "Electrolize", serif;
  font-size: 16px;
  margin-left: 30px;
  color: black;
}
